Package: com.ethansquared.ScreenshotShareSheet
Name: ScreenshotShareSheet
Version: 1.0-60
Description: Instantly Share Screenshots!
Section: Tweaks
Depends: firmware (>= 6.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Ethan Gill/Ethan Vaughan <ethan.gill@me.com>
dev: 
Homepage: 
Depiction: 
Maintainer: BigBoss
Icon: 

